<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
  	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

	<!-- Se asigna la Clase se quiere hacer un Bean en 'class', y luedo se le asigna un 'id' para 
	identenficarlo -->
	<bean id="mundo" class="com.mitocode.beans.Mundo"> 
		<!-- se ingresa el nombre atributo al que se acceder a través un get y set. Es decir, Spring va a 
		buscarlo a través de un método get y va a devolverlo a través de un set.  -->
		<property name="saludo" value="Hola Mundo"> 

		</property>
	</bean>
</beans>